/**
 * @name            Lewd Pumkat Theme
 * @version         1.0.1
 * @description     If you use this, go touch grass.
 * @author          KayoticCarnige
 * @source          https://github.com/kckarnige/pumkat-theme-discord
 * @authorId        634168893644210186
 * @authorLink      https://github.com/kckarnige/
 * @donate          https://www.buymeacoffee.com/kckarnige
*/
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css");
    .appMount_fae9dd {
        background-position: 20% 20% !important; 
        background-size: 100%;
    }
    
:root {
--main-theme-color: #43b581;
--theme-transparency: #000000cc;
--theme-background-image: url('https://static1.e621.net/data/c6/4c/c64c37a07d377487b76e2812b5a7cab0.png');
--home-icon-image: url('https://static1.e621.net/data/1c/8e/1c8e60ee8d5edaf8ca647a65710a2618.png');
--home-icon-image-zoom: 150%;
--home-icon-image-position: top;
--server-listing-width: 72px;
--font-size: 100%;
--mention-color: #faa61a0d;
--mention-sider: #faa61aff;
--mention-hover-color: #faa61a14;
--category-hover-color: #3cca8aff;
--unread-server-animation: none;
--video-screen-button-background-color: #c8c8c833;
--video-screen-button-foreground-color: #ffffffff;
--video-screen-button-background-hovor-color: #c8c8c866;
--video-screen-button-foreground-hovor-color: #ffffffff;
--member-listing-role-color: #43b581ff;
--small-user-popout-background-image: url('https://static1.e621.net/data/28/2d/282d75585f37908fb265070bebf2bc2d.png');
--small-user-popout-background-transparency: #00000099;
--small-user-popout-background-image-position: center;
--big-user-popout-background-image: url('https://static1.e621.net/data/90/a3/90a3520b3e996c94dd6d45bd63b9661f.png');
--big-user-popout-background-transparency: #00000099;
--big-user-popout-background-image-position: top;
--code-markup-background-color: #00000099;
--code-markup-border: 1px solid transparent;
--message-box-transparency: #00000099;
--embed-background-transparency: #00000099;
--message-hover-buttons-background: #c8c8c81a;
--context-menu-transparency: #0f0f0fcc;
--add-discover-icon-transparency: #c8c8c826;
--add-discover-icon-color: #43b581;
--channel-limit-count-color: #43b581;
--channel-limit-background-left: #c8c8c81a;
--channel-limit-background-right: #c8c8c833;
--scrollbar-color: #c8c8c833;
--unread-message-divider-color: #f04747;
--unread-message-divider-font-color: #ffffff;
--new-messages-bar-background-color: #FAA61AFF;
--new-messages-bar-font-color: #ffffff;
--emoji-menu-background-color: #ffffff;
--emoji-menu-sider-background-color: #ffffff;
--emoji-menu-server-header-background-color: #ffffff;
--emoji-menu-bottom-bar-background-color: #ffffff;
--emoji-menu-search-bar-background-color: #ffffff;
--message-search-menu-background-color: #000000cc;
--message-search-container-background-color: #00000099;
--message-search-result-background-color: #c8c8c80d;
--text-voice-channel-color: #8e9297ff;
--text-voice-channel-hover-color: #dcddde;
--text-voice-channel-selected-text-color: #ffffff;
--unread-text-channel-color: #ffffff;
--unread-text-channel-bubble-color: #ffffff;
--folder-background-color: #2f3136;
--expanded-folder-background-color: #00000000;
--reaction-emoji-background-color: #00000000;
--reaction-emoji-border-color: 1px solid transparent;
--reaction-emoji-hover-background-color: #ffffff1a;
--reaction-emoji-hover-border-color: #ffffff33;
}


:root {
    --mod-saturation-factor: 1; /* Default is .7 */
    --mod-hue-factor: 25; /* Default hue is 230 */
    --brand-100: hsl(var(--brand-100-hsl)/1);
    --brand-100-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*77.8%) 98.2%;
    --brand-130: hsl(var(--brand-130-hsl)/1);
    --brand-130-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*87.5%) 96.9%;
    --brand-160: hsl(var(--brand-160-hsl)/1);
    --brand-160-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*84.6%) 94.9%;
    --brand-200: hsl(var(--brand-200-hsl)/1);
    --brand-200-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*83.3%) 92.9%;
    --brand-230: hsl(var(--brand-230-hsl)/1);
    --brand-230-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*87%) 91%;
    --brand-260: hsl(var(--brand-260-hsl)/1);
    --brand-260-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*86.2%) 88.6%;
    --brand-300: hsl(var(--brand-300-hsl)/1);
    --brand-300-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*86.1%) 85.9%;
    --brand-330: hsl(var(--brand-330-hsl)/1);
    --brand-330-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*85.1%) 81.6%;
    --brand-345: hsl(var(--brand-345-hsl)/1);
    --brand-345-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*85.2%) 78.8%;
    --brand-360: hsl(var(--brand-360-hsl)/1);
    --brand-360-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*86.1%) 77.5%;
    --brand-400: hsl(var(--brand-400-hsl)/1);
    --brand-400-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*86.1%) 71.8%;
    --brand-430: hsl(var(--brand-430-hsl)/1);
    --brand-430-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*85.7%) 69.8%;
    --brand-460: hsl(var(--brand-460-hsl)/1);
    --brand-460-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*85.5%) 67.5%;
    --brand-500: hsl(var(--brand-500-hsl)/1);
    --brand-500-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*85.6%) 64.7%;
    --brand-530: hsl(var(--brand-530-hsl)/1);
    --brand-530-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*66.7%) 58.8%;
    --brand-560: hsl(var(--brand-560-hsl)/1);
    --brand-560-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*51.4%) 52.4%;
    --brand-600: hsl(var(--brand-600-hsl)/1);
    --brand-600-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*46.7%) 44.1%;
    --brand-630: hsl(var(--brand-630-hsl)/1);
    --brand-630-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*46.7%) 38.2%;
    --brand-660: hsl(var(--brand-660-hsl)/1);
    --brand-660-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*47.1%) 33.3%;
    --brand-700: hsl(var(--brand-700-hsl)/1);
    --brand-700-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*47%) 25.9%;
    --brand-730: hsl(var(--brand-730-hsl)/1);
    --brand-730-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*46.8%) 24.3%;
    --brand-760: hsl(var(--brand-760-hsl)/1);
    --brand-760-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*46.9%) 22.2%;
    --brand-800: hsl(var(--brand-800-hsl)/1);
    --brand-800-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*47.5%) 19.4%;
    --brand-830: hsl(var(--brand-830-hsl)/1);
    --brand-830-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*47.4%) 14.9%;
    --brand-860: hsl(var(--brand-860-hsl)/1);
    --brand-860-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*46.9%) 9.6%;
    --brand-900: hsl(var(--brand-900-hsl)/1);
    --brand-900-hsl: var(--mod-hue-factor) calc(var(--mod-saturation-factor, 1)*50%) 3.1%;
}
